body {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  background-color: rgb(49, 49, 49);
  color: white;
}

img {
  height: 500px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5rem;
}