{% extends "base.html" %}

{% block content %}

{% if result %}

{{ result.name }}
{{ result.eye_color }}
{{ result.eyes }}
{{ result.nose }}
{{ result.mouth }}
{{ result.hair }}
{{ result.hair_color }}
{{ result.facial_hair }}
{{ result.fh_color }}
{{ result.item }}
{{ result.skin_color }}
{{ result.token_border }}
{{ result.token_color }}

<!-- Share/Download Buttons -->
<a href="/tokens/<int:id>" download="{{ result }}">
  <button>Download</button>
</a><br>
<a href="">
  <button>Share</button>
</a><br>

{% else %}

<p> 404: No Token to display :( </p>

{% endif %}
<!-- Back Button -->
<a href="">
  <button onclick="window.location.href='/tokens'">Back</button>
</a><br>
<a href="">
  <button onclick="window.location.href='/'">Gallery</button>
</a><br>
{% endblock %}